<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Optimization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiKajPXnVbEGMSqUkgPKNlkIq3NPconU0"></script>
</head>
<body>
    <header class="navbar">
        <div class="logo">QORAP</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/showcase/store-reservation">Store Reservation</a></li>
            </ul>
        </nav>
    </header>


    <div id="route-gogo">
        <h2>Route optimization</h2>
        <p>
             <strong>Select</strong> you path!
        </p>
    </div>

    <div class="background-imagee"></div>

    <!-- Form container -->
    <div id="route-optimization-container">
        <label for="start">Start Location:</label>
        <select id="start">
            <option value="Almaty, Kazakhstan">Almaty</option>
            <option value="Astana, Kazakhstan">Astana</option>
            <option value="Shymkent, Kazakhstan">Shymkent</option>
        </select>

        <label for="destination">Destination:</label>
        <select id="destination">
            <option value="Almaty, Kazakhstan">Almaty</option>
            <option value="Astana, Kazakhstan">Astana</option>
            <option value="Shymkent, Kazakhstan">Shymkent</option>
        </select>

        <label for="waypoints">Waypoints (Optional):</label>
        <select id="waypoints" multiple>
            <option value="Almaty, Kazakhstan">Almaty</option>
            <option value="Astana, Kazakhstan">Astana</option>
            <option value="Shymkent, Kazakhstan">Shymkent</option>
        </select>

        <button id="calculate-route">Calculate Route</button>
    </div>

    <!-- Map container -->
    <div id="map"></div>

    <!-- Route summary container -->
    <div id="route-summary">
        <h2>Route Summary</h2>
        <p id="summary"></p>
    </div>

    <script src="/static/js/route_optimization.js"></script>
</body>
</html>
